<div class="header">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark" aria-label="Fourth navbar example">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Portfolio</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse right-part" id="navbarsExample04">
        <ul class="navbar-nav ms-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#about">About</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="#experience">Experience</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link " href="#education">Education</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#skills">Skills</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#project">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#contact">Contact</a>
          </li>
        </ul>
       
      </div>
    </div>
  </nav>
</div>


<div id="about" class="container">

  <div class="row">
    <div class="col-lg-1"></div>

    <div class="col-lg-5 info">
      <div class="user shadow bg-color">
        <h2 class="text-white fs-1 bg-color">Hi, I'm Murad Karimov</h2>
        <p class="text-white bg-color">I am 20 years old and student at Baku Higher Oil School</p>
        <div class="user1 bg-color">
          <i class="fa-regular fa-file bg-color color-red"></i>
          <span class="text-white ms-2 bg-color">Web Developer</span>
        </div>
        <div class="user1 bg-color">
          <i class="fa-regular fa-envelope bg-color color-red"></i>
          <span class="text-white ms-2 bg-color">muradhafizoglu.kr@gmail.com</span>
        </div>
        <div class="user1 bg-color">
          <i class="fa-sharp fa-solid fa-location-dot bg-color color-red"></i>
          <span class="text-white ms-2 bg-color">Baku, Azerbaijan</span>
        </div>
      </div>
      <div class="cv shadow bg-color">
        <p class="bg-color text-white">
          Download my curriculum vitae:
        </p>
        <div class="d-flex align-items-center justify-content-center bg-color">
          <button class="bg-color color-red shadow ">
            <a href="../../assets/document/CV.pdf" class="bg-color color-red shadow text-decoration-none">
              Download CV
            </a>
          
          </button>
        </div>
      </div>
    </div>

    <div class="col-lg-5">
     <div class="photo">
      <!-- <img src="../../assets/img/banner-02.png" alt="" > -->
      <img src="../../assets/img/fotor_2023-5-4_23_39_11.png" alt="">
     </div>
    </div>
    <div class="col-lg-1"></div>
  
  </div>

  <div class="slider"></div>

</div>


<div id="education" data-aos="fade-up"
data-aos-easing="linear"
data-aos-duration="1000">

  <div class="education">
    <h2>Education</h2>
  </div >



  <div class="education-style ">
    <div class="education-left">
      <div class="education-image">
          <!-- <img src="../../assets/img/petrol.jpg" alt=""> -->
          <img src="../../assets/img/download.jpg" alt="">
      </div>
      <div class="education-center">
          <span class="date">2020-Present</span>
          <h4 class="education-title">
              Baku Higher Oil School
          </h4>
          <h6 class="subtitle">
            Petroleum Engineering
          </h6>
          <p class="disc">Bachelor Degree</p>
      </div>
  </div>
  <div class="education-right">
      <div class="education-footer">
          <a class="rn-btn" href="#contact"><span>CONTACT ME</span></a>
      </div>
  </div>
  </div>


  <div class="education-style ">
    <div class="education-left">
      <div class="education-image">
          <img src="../../assets/img/blue_medium.png" alt="">
      </div>
      <div class="education-center">
          <span class="date">2022-2023</span>
          <h4 class="education-title">
              BrainWave Academy
          </h4>
          <h6 class="subtitle">
           Front-end Developer
          </h6>
          <!-- <p class="disc">Bachelor Degree</p> -->
      </div>
  </div>
  <div class="education-right">
      <div class="education-footer">
          <a class="rn-btn" href="#contact"><span>CONTACT ME</span></a>
      </div>
  </div>
  </div>


  <div class="slider1"></div>

  


</div>


<div id="skills" data-aos="zoom-in" data-aos-easing="linear"
data-aos-duration="1000">
  <div class="education">
    <h2>Professional Skills</h2>
  </div >

  <div class="row  container mt-0 mb-0 ms-auto me-auto">
    <div class="col-lg-6">
      <div class="content">
        <span>Features</span>
        <h4>Soft Skills</h4>
      </div>
      <div class="progress-chart">
        <h6>Teamwork</h6>
        <div class="progress">
          <div class="progress-bar"></div>
          <span>95</span>
        </div>
      </div>
      <div class="progress-chart">
        <h6>Communication</h6>
        <div class="progress">
          <div class="progress-bar1 "></div>
          <span>85%</span>
        </div>
      </div>
      <div class="progress-chart">
        <h6>Time Management</h6>
        <div class="progress">
          <div class="progress-bar2"></div>
          <span>80%</span>
        </div>
      </div>
      <div class="progress-chart">
        <h6>Adaptability</h6>
        <div class="progress">
          <div class="progress-bar3"></div>
          <span>80%</span>
        </div>
      </div>
      </div>

      <div class="col-lg-6">
        <div class="content">
          <span>Features</span>
          <h4>Hard Skills</h4>
        </div>
        <div class="progress-chart">
          <h6>HTML</h6>
          <div class="progress">
            <div class="progress-bar"></div>
            <span>90</span>
          </div>
        </div>
        <div class="progress-chart">
          <h6>CSS</h6>
          <div class="progress">
            <div class="progress-bar1 "></div>
            <span>85%</span>
          </div>
        </div>
        <div class="progress-chart">
          <h6>JavaScript</h6>
          <div class="progress">
            <div class="progress-bar2"></div>
            <span>80%</span>
          </div>
        </div>
        <div class="progress-chart">
          <h6>Angular</h6>
          <div class="progress">
            <div class="progress-bar3"></div>
            <span>80%</span>
          </div>
        </div>
        </div>
  </div>


  



</div>

<div class="slider"></div>


<div id="project" data-aos="fade-down"
data-aos-easing="linear"
data-aos-duration="1500">
  <div class="education">
    <h2>Projects</h2>
  </div>
 
  
  <div class="carousel container">

    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide>
  
        <div class="project">
          <div class="inner screen1">
            <img src="../../assets/img/screen1.png" alt="">
          </div>
          <div class="category">
            <div class="title">
              <h5>
                Team work design page & Services
              </h5>
            </div>
            <div class="category-button">
              <a class="rn-btn" href="https://tubanur313.github.io/summer-group-mizan/"><span>View Project</span></a>
            </div>
          </div>
        </div>
        
      </ng-template>  
      <ng-template carouselSlide>
        <div class="project">
          <div class="inner">
            <img src="../../assets/img/screen4.png" alt="">
          </div>
          <div class="category">
            <div class="title">
              <h5>
                 Web page using angular material
              </h5>
            </div>
            <div class="category-button">
              <a class="rn-btn" href="https://muradkarimov.github.io/hogwarts/"><span>View Project</span></a>
            </div>
          </div>
        </div>
      </ng-template>  
      <ng-template carouselSlide>
        <div class="project">
          <div class="inner">
            <img src="../../assets/img/screen3.png" alt="">
          </div>
          <div class="category">
            <div class="title">
              <h5>
                Simple NFT page using Angular
              </h5>
            </div>
            <div class="category-button">
              <a class="rn-btn" href="https://muradkarimov.github.io/Mintify/"><span>View Project</span></a>
            </div>
          </div>
        </div>
      </ng-template>  
      <ng-template carouselSlide>
        <div class="project">
          <div class="inner">
            <img src="../../assets/img/screen7.png" alt="">
          </div>
          <div class="category">
            <div class="title">
              <h5>
                Html, CSS, JS, Bootstrap project
              </h5>
            </div>
            <div class="category-button">
              <a class="rn-btn" href="https://muradkarimov.github.io/stack/"><span>View Project</span></a>
            </div>
          </div>
        </div>
      </ng-template> 
    </owl-carousel-o>



  </div>
  
</div>



<div class="slider"></div>


<div id="contact" data-aos="fade-right"
data-aos-easing="linear"
data-aos-duration="2000">
  <div class="education">
    <h2>Get in Touch</h2>
  </div>
  <div class="container">
    <div class="row  m-l">
      <!-- <div class="col-lg-1"></div> -->
  
      <div class="col-lg-6 ">
        <div class="communicate">
          <h4>
            <i class="fa-solid fa-phone"></i>
            +9994507772611
          </h4>
        </div>
  
        <div class="communicate">
          <h4>
            <i class="fa-regular fa-envelope"></i>
            muradhafizoglu.kr@gmail.com
          </h4>
        </div>
  
        <div class="communicate">
          <h4>
            <i class="fa-solid fa-location-dot"></i>
            Baku, Azerbaijan
          </h4>
        </div>
  
      </div>
  
      <div class="col-lg-6 form1 ">
        <form [formGroup]="myForm"  class="form " (ngSubmit)="onSubmit">
  
  
          <mat-form-field class="form-element ">
            <input matInput placeholder="Name" formControlName="name">
            <mat-error *ngIf="!myForm.controls['name'].valid && myForm.controls['name'].touched">
              {{ titleAlert }}
            </mat-error>
          </mat-form-field>
  
  
          
  
          <mat-form-field class="form-element">
            <input matInput placeholder="Email" formControlName="email">
            <mat-error *ngIf="!myForm.controls['email'].valid && myForm.controls['email'].touched">
              {{ getErrorEmail() }}
            </mat-error>
          </mat-form-field>  
          
          <mat-form-field class="form-element">
            <textarea matInput placeholder="Message" formControlName="message" ></textarea>
            <!-- <mat-error *ngIf="!myForm.controls['message'].valid && myForm.controls['message'].touched">
              {{ titleAlert }}
            </mat-error> -->
          </mat-form-field>
      
        
          <div class="form-element button1">
            <button type="submit" class="button" [disabled]="!myForm.valid" (click)="submitData(myForm.value)">Send</button>
          </div>
      
        </form>
      </div>
  
    </div>
  </div>
</div>

<div class="slider"></div>

<div id="copyright" class="d-flex justify-content-center align-items-center">
  <div class="description">
    <p>
      © 2023. All rights reserved 
    </p>
  </div>
</div>



<!-- <app-pageup></app-pageup> -->
