/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
*{
    // font-family: 'Sono', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: #212428 !important;
    font-family: 'Roboto Mono', monospace;
}

// .owl-carousel .owl-nav.disabled {
//     display: block !important;
// }